@font-face {
    font-family: 'MaisonNeue-Book';
    src: url('../fonts/maisonneuebook.eot'); /* IE9 Compat Modes */
    src: url('../fonts/maisonneuebook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/maisonneuebook.woff') format('woff'), /* Modern Browsers */
         url('../fonts/maisonneuebook.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/maisonneuebook.svg#cfe9c4d435b13936a17ea5090528f1ab') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  400;
  }
  
  @font-face {
    font-family: 'MaisonNeue-Mono';
    src: url('../fonts/maisonneuemono.eot'); /* IE9 Compat Modes */
    src: url('../fonts/maisonneuemono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/maisonneuemono.woff') format('woff'), /* Modern Browsers */
         url('../fonts/maisonneuemono.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/maisonneuemono.svg#af2fa94b953e46dc77e59983b9e9c303') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  400;
  }
    
html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "MaisonNeue-Book", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ccc
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ccc
}
:-moz-placeholder { /* Firefox 18- */
    color: #ccc
}

.notes-wrap {
    width: 648px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 96px;
    // border-left: 1px solid #ededed;
    // border-right: 1px solid #ededed;
}

.note-list {

    .title {
        color: rgb(109, 109, 110);
        font-size: 14px;
        // font-weight: 600;
        margin-bottom: 20px;
    }

    .notelist-block {
        list-style: none;
        margin-bottom: 12px;

        .note-card {
            padding: 12px 0;
            border-bottom: 1px solid #F5F5F5;
            cursor: pointer;
            position: relative;
            
            .note-title {
                display: inline-block;
                font-size: 14px;
                color: #333333;
            }

            .note-date {
                display: inline-block;
                font-size: 12px;
                color: #999;
                margin-left: 8px;
            }

            .icon {
                opacity: 0;
            }

            &:hover {
                border-bottom: 1px solid rgba(19, 111, 251, .2);

                .icon {
                    opacity: 1;
                }

                .note-title {
                    color: rgb(19, 111, 251);
                }
            }


        }
    }

    .add-note-btn {
        font-family: "MaisonNeue-Book", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
        line-height: 1;
        border: none;
        font-size: 14px;
        color: #B3B3B3;
        font-weight: 400;
        cursor: pointer;

        &:focus, &:hover {
            outline: none;
            color: rgb(19, 111, 251);
        }
    }
}


.icon {
    position: absolute;
    font-size: 18px;
    top:    10px;
    right: 0;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    padding: 0 8px; 

    .symbol {
        font-size: 24px;
        line-height: 0;
        display: inline-block;
        vertical-align: 0;
        font-weight: 200;
        color: #666;
    }


    .copy {
        display: inline-block;
        vertical-align: 0;
        line-height: 0;
        font-size: 12px;
        color: #666;
    }




}




.note-form {
    margin-top: 40px;
    position: relative;
    
    .note-title {
        display: block;
        width: 100%;
        position: relative;
        border: none;
        // color: #D4D4D4;
        font-family: "MaisonNeue-Mono", monospace;
        color: #333;
        font-size: 14px;
        padding-bottom: 8px;

        &:hover, &:focus {
            outline: none;
        }
    }

    .note-area {
        font-family: "MaisonNeue-Mono", monospace;
        margin-top: 20px;
        width: 100%;
        min-height: 400px;
        border: none;
        font-size: 14px;
        color: rgb(109, 109, 110);
        line-height: 1.5;

        &:hover, &:focus {
            outline: none;
        }
    }

}


.note-page {
    margin-top: 40px;
    position: relative;
    
    .note-title {
        display: block;
        width: 100%;
        position: relative;
        border: none;
        color: #333;
        font-size: 14px;
        // font-weight: 700;
        padding-bottom: 8px;
        font-family: "MaisonNeue-Mono", monospace;


        &:hover, &:focus {
            outline: none;
        }
    }

    .note-content, .public-DraftEditor-content {
        font-family: "MaisonNeue-Mono", monospace;
        margin-top: 20px;
        width: 100%;
        // min-height: 400px;
        border: none;
        font-size: 14px;
        line-height: 1.5;
        color: rgb(109, 109, 110);
        line-height: 1.5;
        letter-spacing : -0.75px;

        &:hover, &:focus {
            outline: none;
        }
    }

}



.content-bottom {
    .editor-msg {
        display: inline-block;
        font-size: 12px;
        color: #999;
    }
}
