@font-face {
  font-family: 'MaisonNeue-Book';
  src: url("../fonts/maisonneuebook.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/maisonneuebook.eot?#iefix") format("embedded-opentype"), url("../fonts/maisonneuebook.woff") format("woff"), url("../fonts/maisonneuebook.ttf") format("truetype"), url("../fonts/maisonneuebook.svg#cfe9c4d435b13936a17ea5090528f1ab") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'MaisonNeue-Mono';
  src: url("../fonts/maisonneuemono.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/maisonneuemono.eot?#iefix") format("embedded-opentype"), url("../fonts/maisonneuemono.woff") format("woff"), url("../fonts/maisonneuemono.ttf") format("truetype"), url("../fonts/maisonneuemono.svg#af2fa94b953e46dc77e59983b9e9c303") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
html {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "MaisonNeue-Book", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc; }

.notes-wrap {
  width: 648px;
  padding: 40px;
  margin: 0 auto;
  margin-top: 96px; }

.note-list .title {
  color: #6d6d6e;
  font-size: 14px;
  margin-bottom: 20px; }
.note-list .notelist-block {
  list-style: none;
  margin-bottom: 12px; }
  .note-list .notelist-block .note-card {
    padding: 12px 0;
    border-bottom: 1px solid #F5F5F5;
    cursor: pointer;
    position: relative; }
    .note-list .notelist-block .note-card .note-title {
      display: inline-block;
      font-size: 14px;
      color: #333333; }
    .note-list .notelist-block .note-card .note-date {
      display: inline-block;
      font-size: 12px;
      color: #999;
      margin-left: 8px; }
    .note-list .notelist-block .note-card .icon {
      opacity: 0; }
    .note-list .notelist-block .note-card:hover {
      border-bottom: 1px solid rgba(19, 111, 251, 0.2); }
      .note-list .notelist-block .note-card:hover .icon {
        opacity: 1; }
      .note-list .notelist-block .note-card:hover .note-title {
        color: #136ffb; }
.note-list .add-note-btn {
  font-family: "MaisonNeue-Book", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  line-height: 1;
  border: none;
  font-size: 14px;
  color: #B3B3B3;
  font-weight: 400;
  cursor: pointer; }
  .note-list .add-note-btn:focus, .note-list .add-note-btn:hover {
    outline: none;
    color: #136ffb; }

.icon {
  position: absolute;
  font-size: 18px;
  top: 10px;
  right: 0;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  padding: 0 8px; }
  .icon .symbol {
    font-size: 24px;
    line-height: 0;
    display: inline-block;
    vertical-align: 0;
    font-weight: 200;
    color: #666; }
  .icon .copy {
    display: inline-block;
    vertical-align: 0;
    line-height: 0;
    font-size: 12px;
    color: #666; }

.note-form {
  margin-top: 40px;
  position: relative; }
  .note-form .note-title {
    display: block;
    width: 100%;
    position: relative;
    border: none;
    font-family: "MaisonNeue-Mono", monospace;
    color: #333;
    font-size: 14px;
    padding-bottom: 8px; }
    .note-form .note-title:hover, .note-form .note-title:focus {
      outline: none; }
  .note-form .note-area {
    font-family: "MaisonNeue-Mono", monospace;
    margin-top: 20px;
    width: 100%;
    min-height: 400px;
    border: none;
    font-size: 14px;
    color: #6d6d6e;
    line-height: 1.5; }
    .note-form .note-area:hover, .note-form .note-area:focus {
      outline: none; }

.note-page {
  margin-top: 40px;
  position: relative; }
  .note-page .note-title {
    display: block;
    width: 100%;
    position: relative;
    border: none;
    color: #333;
    font-size: 14px;
    padding-bottom: 8px;
    font-family: "MaisonNeue-Mono", monospace; }
    .note-page .note-title:hover, .note-page .note-title:focus {
      outline: none; }

.DraftEditor-editorContainer {
  margin-bottom: 32px; }
  .DraftEditor-editorContainer div[data-block="true"] {
    line-height: 2; }

.note-content, .public-DraftEditor-content {
  font-family: "MaisonNeue-Mono", monospace;
  margin-top: 20px;
  width: 100%;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  color: #2b2b2b;
  line-height: 1.5;
  letter-spacing: -0.75px; }
  .note-content:hover, .note-content:focus, .public-DraftEditor-content:hover, .public-DraftEditor-content:focus {
    outline: none; }

.content-bottom .editor-msg {
  display: inline-block;
  font-size: 12px;
  color: #999; }

/*# sourceMappingURL=style.css.map */
